body{
    background-image:linear-gradient(to top,blue,transparent);
    background-size:100% 900px;
    background-repeat:no-repeat;
    
}

p{
    font-size:50px;
    color:red;
}

p:hover{
    color:green;
    cursor: pointer;
    /* transform:scale(5); */
    transform: translate(8px, 12px);
    /* transform: scale(1); */
}

h1{
    text-decoration:underline;
    color: green;
}
h1:hover{
    color:red;
    transform: scaleX(0.9);
    background:yellow;
}