body{
    background-image:linear-gradient(to top,blue,transparent);
    background-size:100% 900px;
    background-repeat:no-repeat;
    
}

p{
    font-size:50px;
    color:red;
}

p:hover{
    color:green;
    cursor: pointer;
    transition: translate(0px, 0px) 0.5s;
    transform: translate(8px, 12px);
    /* transform: scale(1); */
}